{% extends "baset.html" %}
{% block welcome %} 19th Century {% endblock %}

{% block title %}
<h1> 19th Century </h1>
{% endblock %}

{%block info%}
<h4> Programming in the 19th century </h4>
<p>During the 19thcentury there weren’t many programming languages available as technology wasn’t evolved properly and was not compatible to take on backend and front-end coding. Mathmagicians were well known for creating new and innovative pieces of technology. During 1842 and 1949 a mathematician named Ada Lovelace translated a piece of memoir from an Italian mathematician named Luigi Menabrea which was regarding Charles Babbage (mechanical engineer, inventor) newest introduced piece of technology.</p>
{%endblock%}



{%block thre%}
<p>  A mathematician named Alonzo Church was able to express his lambda calculus in structures and well formatted manner. Different computation models were also used as an abstraction for different operations. All Engines created back then were highly simple. All systems had limited amounts of languages. Leaving the engine with less features and important functions. The first programmed device was the to control weaving machines efficiently. The first computer programmer was named after lady Ada. Charles Babbage difference engine proposed an automatic calculator. George Boole introduced the Boolean algebra in 1854. This mathematics/system was very important for creating circuits and modern electronic computers. Jacques Solomon was highly responsible for quantum computing. One programming language was called Ada, this was named after Lady Ada. (First programmer). </p>
{%endblock%}

{%block ana%}
<h4> Analytical Engine </h4>
<p> The analytical engine was a fully programmed and controlled mechanical computer. It was able to peform multiple caluclations in a 
efficent rate. The engine consisted of four components starting of with mill, the store, the reader and the printer. The mill was able to calulcate various units and analogous to the centeral unit. In the store data was held for proccessing. The reader and the printer are the input and output devices. The store present in ths engine is considered to be very big as it was able to store 1000, 50 digit numbers. The machine was steam driven and functioned by 1 person. The printing capability was much more evolved enabling output being at greater number. This engine was aquired and incorporated an arithmetic logic unit, and controlled flow through branching and loops.</p>
<p> This new piece was called the Analytical Engine and another was the difference engine. Ada Lovelace added extra information, notes and detailed methods for solving serious math equation especially the Bernoulli numbers. Historians notice this as the first programming language. The first programming codes were specially created for the Analytical Engines applications. <p>
{%endblock%}

{%block boo%}
<h4> Boolean Algerbra </h4>
<p> Boolean is a division of mathematics which revolves around logical value and incorporates binary variables. Boolean algerbra was constructed in 1854 by George Boole. Boolean algebra only deals with binary results for example 1 for True and 2 for False. The theories and interpertations use complex components and interpertations, like set theory. Many computer modules as well as languages incopporate this for the modeling of data in many different areas. Some areas which include this are stock option and different data analysis centers. Boolean values are also used to simplify digial circuits. In total there a are 6 different boolean laws which is consisted with its own theories. </p>
{%endblock%}
{%block boo2%}
<h4> Quantum Computing</h4>
<p> Quantum Computing is the use of different phenomenas especially quantum mechanical. These mechanical phenomenas are able to peform superpostion and entanglement which enables the peformance of computation. Many computers present peform Quantum computing and are named after quantum computers. Quantum computers use quantum bits, quibits which store the data as 0s or 1s at the same time. Quantum computing enables multiple different states of combindations being peformed. This kind of computing is mainly used for handeling large amounts of data. The quibits present are aquired with a state called superpostion. This state allows to represent 1 or 0 at the same time.</p>
{%endblock%}
