{% extends "base3.html" %}
{% block welcome %} 20th century {% endblock %}
{% block title %} 
<h1> 20th Century </h1>
{% endblock %}

{%block info%}
<h4> Programming in the 20th century</h4>
<p> Beginning in 1936 a German Engineer named Kondrad Zuse built multiple different computers which were first to use binary code. Zuse as a powerful innovator he though ahead and was curious about how the computers language could potentially solve problems. Zuse introduced one of the first programming languages named Plankalkül. This language was the first to be fully evolved and fully functioning. This language was used for compete in high levels of creation. This language was compatible on any kind of computer. The language was not assigned with a specific device or type of computer.Plankalkül needed to be implemented or embedded into the specific computer to execute the particular program.<p>
{%endblock%}	

{%block thre%} 
<p> Plankalkül had many unusual features which stood out to computer pogrammers. Zuse never implemented Plankalkül into any of these programmes. This language started running at late 1988. During 1957 an international machines business cooperation introduced the 704-computerlanguage.This was designed specifically for scientific projects and pieces of technology. Jack Backus a well-known programmer realized that there was an immediate need for a new programming language.He wanted to create a well-functioning system which is able to solve problems and deal with high levels of mathematics. After 3 years of work he introduced a new language called FORTRAN. Fortran had many important and vital components/features which enhanced its significance and led the language to immediate success. The language came with a manual. Comments were also allowed to be annotated on the script of code. Users could view these annotations and make changes. Annotations were very important.<p>

{%endblock%}

{%block ana%}
<h4> Fortran, COBOL, ALGOL </h4>
<p> Fortran was the premium programming language in the 20thcentury. From 1958 to 60 there was a programming language named after AGOL. But these languages main purpose was to solve mathematical operations.AGOL was machine independent compared to FORTRAN it was run by IBM machines. There were many versions of AGOL. In 1959 a language called COBOL. Was designed to accommodate business as this language could initiate multiple actions.  COBOL had a recorded data structure and was very fast and efficient. On 1964 John Kenney and Thomas Kurtz hoped to create a less complex language so that more people could learn and potentially develop into a well-functioning programmer. This language was called Basic. Later in 1969 and 1973 a new language was introduced which was called C. Language was very powerful and flexible due to its features and could deal with all kind of numbers ranging from integers to floats.</p>
<p> Linking back to Fortran, Fortran is a programming language what mostly used numeric, scientific computing code. Fortran has declined in popularity in years, but it is still in use by scientifc programmers. Many companies which specialize in weather, finance, engineering also implement this programming language into their daily work. Fortran can be highly optimised to run on new and well created computers. Fortran is a compiled language.</p>
{%endblock%}

{%block boo%}
<h4> COBOL </h4>
<p>COBOL is an compiled english-like programming language which was mainly designed for buissness use. COBOL is used for writing applicaitons but cannot be used to write up system softwares. Applications which relate to defence domain, insurance domain could be created through COBOL. COBOL is still used in applications on mainstream computers. COBOl popularity has decreased leaving experienced COBOL programmers being retired and migrating to new languages or platforms. Most COBOL is now used to maintain existing applications present in the market. The code is revolved around a FLOW-MATIV design. This language was mainyl created for data processing by the US department of Defence.</p> 

{%endblock%}

{%block boo2%} 
<h4> ALGOL </h4>
<p> ALGOL is short for algorithimic language. This language is part of the portable language family. This language is for scientific computations. ALGOL was mainly used to create standard method algorithims by the ACM (Association for computing machinery). ALGOL had recursive subprograms, where different procedures could evolve themselves so it could pottentially solve a problem by reducing the impact of the problem. ALGOL introduced block structure, where programms are composed in blocks which contain data and different info. Block structure was very important as it was very importsnt for bulding large programms out of small components. </p>
{%endblock%}