{% extends "base4.html" %}
{%block welcome%} 21st century {%endblock%}
{% block title %}
<h1> 21st Century </h1>
{% endblock %}

{%block info%} 
<h4> Programming in the 21st century </h4>
<p>Our generation has introduced multiple different languages which could potentially create beneficial apps,powerful functioning websites,mechanical robots and so on. This generation has efficiently used technology its advantages and decided to create manyefficient languages. Leading search engines are all powered by the newly introduced languages. Python is generally very popular in the 21stcentury. Python is used for multiple different subjects and areas. Python is able to create vast amounts of websites, software’s. People also use Python as a support language along with others. Python is included with multiple different frameworks enabling the connection with other different languages.</p>
{%endblock%}

{%block thre%}
<p>. Companies use python to initiate machine learning and potentially create new and unique systems for their company. Different companies which use Python are Drobox, Yahoo and NASA. Java is another relevant programming language. This language is used for the same purposes as Python. Language techniques and methods vary. Android apps are mainly created through Java. JS used to program websites and mainly used as a backend language. JS is able to add logic to HTML. Many possibilities could be created when using JS.Many companies like Microsoft and Google use JS to power up their own engine. C++ is also one language was is also used in the programming industry. Professional software developers use C++ to create efficient systems and data structures. All these languages listed are mainly known for their efficient features and conditions consisted inside the language itself.</p>

{%endblock%}

{%block ana%} 
<h4> Implementation of different languages </h4>
<p> Some languages vary and some are assigned to certain subjects. Like python is mainly used for machine learning and data science unlike java, it is used to construct an app. All languages listed are highly flexible and are able to accommodate everyone according to their field of job. Mathematical operations could be solved at a fast rate and no issues will be stumbled across the language itself.</p>
<p> Python is a high level programming language. There many reasons why people use Python and its functionalities. Some people use Python for creating desktop GUI, websites, different web-applications. Python allows programmers to focus on core functionality of a particular application by taking care of common programming issues. Python code are divided into logical lines and include the usage of multiple indentations. Python syntax is high freindly, meaning everyone is able to pottentially learn python and understand it easily. The syntax has pure clarity and not much structural implementations. Python is an expressive language which is able to interpret data. Python is a cross platform language, is a free open source lanuage, could be object orientated and generally is aquired with a large standard libary.</p>
{%endblock%}

{%block boo%}
<h4> Java </h4>
<p> Java is a programming language which first released in 1995. Many applications and websites are created through Java. Java is fast, secure and reliable. Laptop to game consoles to scientific computations Java is used. Java is free to use and many prgrammers love Java due to its ability to construct well functioning applications. Java are used in multiple different domains ranging from the financial side to the more scientific side. Most apps present on the play store (android) are created through Java and its different modules. The language has advanced and simplified features compared to others. Java is concurrent meaning the code is able to execute many statements instead of sequentially execuring it. This language is classed based and object orientated.
{%endblock%}

{%block boo2%} 
<h4> Java Script </h4>
<p>Java Script is a programming language/scripting which enables the addition of complex and unique features on a particular web-page. Without JS websites will be mainly static and no unique interfaces and functions. Some features which could be added are interactive maps, video scrolling, buttons etc. JS is the third layer of standard web development languages. JS accompanies two other lanuages HTML as well as CSS. Java Script are contaiend with literals, strings are text, variables used to store data, = sign used to declare values to a variable. These features are very similar to other lanuages especially Python. Syntax are very similar just structure differ. JS has curly bracket syntax, dynamic typing and can be object orientated.</p>
{%endblock%}	