{% extends "base.html" %}
{% block welcome %} Home-page {% endblock %}

{% block title %}
<h1> History of programming languages </h1>
{% endblock %}

{%block name%}
<h2> By: Nikhil Mathur </h2>
{%endblock%}

{%block info %}
<h4> Why is programming useful to the general population?</h4> 
<p>Programming is very useful and important in our daily lives. Programming is able to enhance the power and ability of 
a particular harware system or computer. Machines have also aquired some sort of programming as it is able to speed up the 
output processes. The usage of programming is also implemented into automating, collecting, managing, calculating peices of
data and information accurately. Many people who tend to learn programming are able to understand how to harness power consited 
inside computing, and identify how to problem solve at a much efficent rate. Many benifital apps/web-applications are able to
be created through multiple different languages. Softwares like IOS ans Android are installed in our phones/different hardwares. ensuring safety and efficency.</p>
{%endblock%}

{%block sec%}
<h4> How many languages are present currently?</h4>
<p>According to multiple different sources there are 250-700 languages present currently including esoteric languages. Programming
language HOPOl is believed to contain all languages present making the estimate increase. Some languages are high level and are
easier to use and some are low level and are much harder to use. Many of these languages are implemented into multiple different
tasks like automating machines and designing video games. Many of these languages meet the requirements and are able to be used
for benifeting the society. Many of these languages are used to develop the interent adn enhance its capability. A few languages are
Java Script - Web development, C# Creation of window applications, Python- Controlling of data bases/creations of GUI.
</p>
{%endblock%}

{%block prin%}
<h4> Principles of programming</h4>
<p> There are multiple different principles a programmer/developer must follow. One principle is KISS: relating simplicity, DRY: not
repeating any code, Open/Closed: relates to modifing code and closing of certain modules and placements, Compostion > Inheritance: Relates to composion and how it should be over inheritence, Clean code > Clever code: Relates to how code should be simple rather
than complex, Single responsiblity: Relating to a particular class or module concerning itself. There are many more present but these
are the main principles. All programmers tend to implements these principles into their daily work ethic ensuring cleaner and much
more efficent code. These principles ensure clarity, efficiency as well as accuracy. Communication is also enhanced. </p>
{%endblock%}






	